@model PartnerVM
@{
    ViewData["Title"] = "Partner Detail";
}

<div class="container mt-4">
    <h2>Partner Detail</h2>
    <div class="card mt-3" style="width: 300px;">
        <img src="~/@Model.Img" class="card-img-top" alt="Partner Image" />
        <div class="card-body">
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>
