@model Final_Project.ViewModels.User.Account.ResetPasswordVM

@{
    ViewData["Title"] = "Reset Password";
}

<section class="py-5 container">
    <div class="frgt-pass-inner">
        <div class="row g-5 align-items-center g-4">
            <div class="col-lg-12">
                <form asp-action="ResetPassword" method="post">
                    <input type="hidden" asp-for="Token" />
                    <input type="hidden" asp-for="UserId" />

                    <div class="row g-3">

                        <div class="col-md-12 position-relative">
                            <div class="form-floating">
                                <input asp-for="NewPassword" class="form-control" placeholder="New Password" />
                                <label asp-for="NewPassword">New Password</label>
                                <span class="toggle-password position-absolute top-50 end-0 translate-middle-y me-3"
                                      data-target="NewPassword"
                                      style="cursor: pointer;">
                                    <i class="fa-solid fa-eye-slash"></i>
                                </span>
                            </div>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="col-md-12 position-relative">
                            <div class="form-floating">
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                <label asp-for="ConfirmPassword">Confirm Password</label>
                                <span class="toggle-password position-absolute top-50 end-0 translate-middle-y me-3"
                                      data-target="ConfirmPassword"
                                      style="cursor: pointer;">
                                    <i class="fa-solid fa-eye-slash"></i>
                                </span>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-self by-nw py-3 px-5" type="submit">Verify</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

